# STRING FORMATTING

In [3]:
price1 = 15000
price2 = 85000.69
litres ='10 litres'
report = 'I sold {} of disel for {} and got {} as profit'
print(report.format(litres,price2,price1))

I sold 10 litres of disel for 85000.69 and got 15000 as profit

In [4]:
print(f'I sold {litres} of disel for {price2} and got {price1} as profit')

I sold 10 litres of disel for 85000.69 and got 15000 as profit

 STRING METHOD

In [5]:
print(litres.upper())
print(litres.lower())
print(report.capitalize())
print(report.title())
print(report.split())

10 LITRES
10 litres
I sold {} of disel for {} and got {} as profit
I Sold {} Of Disel For {} And Got {} As Profit
['I', 'sold', '{}', 'of', 'disel', 'for', '{}', 'and', 'got', '{}', 'as', 'profit']

# INPUT FUNCTION

In [8]:
name = input('Enter your name:')

Enter your name: EZUMA FESTUS

In [9]:
age = float(input('Enter your age:'))

Enter your age: 27

In [10]:
print(name)

EZUMA FESTUS

# SPECIAL SYMBOLS USED FOR ARITHEMETIC AND LOGICAL OPERATORS

#### ARITHEMETIC OPERATORS
#### ADDITION +
#### SUBTRACTION -
#### MULTIPLICATION *
#### DIVITION /
#### MODULUS (REMENDER)%
#### INTEGER DIVISION //
#### EXPONENTIAL **

In [14]:
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ** {num2} = {num1 ** num2}')

Enter first number: 30
Enter second number: 7

30 + 7 = 37
30 - 7 = 23
30 * 7 = 210
30 / 7 = 4.285714285714286
30 % 7 = 2
30 // 7 = 4
30 ** 7 = 21870000000

### COMPARISON OPERATORS
### GREATER THAN >
### LESS THAN <
### GREATER THAN OR EQUAL TO > =
### LESS THAN OR EQUAL TO < =
### EQUAL TO ==
### NOT EQUAL TO !=

In [15]:
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
print(f'{num1} > {num2} = {num1 > num2}')
print(f'{num1} < {num2} = {num1 < num2}')
print(f'{num1} >= {num2} = {num1 >= num2}')
print(f'{num1} <= {num2} = {num1 <= num2}')
print(f'{num1} == {num2} = {num1 == num2}')
print(f'{num1} != {num2} = {num1 != num2}')

Enter first number: 30
Enter second number: 7

30 > 7 = True
30 < 7 = False
30 >= 7 = True
30 <= 7 = False
30 == 7 = False
30 != 7 = True

### LOGICAL OPERATORS

## AND, OR NOT

In [17]:
print(num1 > num2 and num1 != num2)
print(num1 > num2 or num1 != num2)
print(not num1)

True
True
False

### IDENTITY OPERTORS [IS,IS NOT]

In [18]:
print(num1 is num2)
print(num1 is not num2)

False
True

### MEMBERSHIP OPERATORS[IN, NOT IN]

In [9]:
word = 'python'
print('p' in word)
print('P' not in word)
print(word[3])

True
True
h

In [7]:
ball = int(input('Enter the numbers of balls bought:'))
price = float(input('Enter the price for the total ball bought:'))
costprice = price/ball
print(f'The cost price for ball bought by John is {costprice}')

Enter the numbers of balls bought: 50
Enter the price for the total ball bought: 40000

The cost price for ball bought by John is 800.0