### ITERABLE OBJECT
## turple
## list
## dictionary
## range

In [1]:
## TUPLE IS UNCHANGEABLE
## TURPLE MUST BE ORDERED
## TURBPLE IS DENOTED WITH()
## TO ACCESS VALUES FROM TURPLE WE USE THE INDEX LOCATION
## TURPLE ACCOMMODATES ALL BASIC DATATYPES

In [3]:
numbers = (14,18,20,25,36,24,27,14,29,33,37,38,14,12,10,11,)
print(type(numbers))

<class 'tuple'>

In [4]:
print(len(numbers))

16

In [7]:
print(numbers[7])#select a value via the index location count from the starting value(0)

14

In [9]:
print(numbers[-9]) #selecting a value

14

In [10]:
print(numbers[6:11]) #selecting a range value from turple

(27, 14, 29, 33, 37)

In [11]:
print(numbers.count(14))

3

In [12]:
print(numbers.index(24))

5

In [13]:
print(26 in numbers)

False

## LIST

In [14]:
## list is changeable
## list can be ordered or unordered
## list is denoted with[]
## to access values from a list we use the index location
## accommodates all basic datatypes

In [15]:
# append: this will add th new values at the end of the list

In [17]:
items = ['Apple','Red book','Pen','Cherry','Lemon']
items.append('pear')
print(items)

['Apple', 'Red book', 'Pen', 'Cherry', 'Lemon', 'pear']

In [18]:
## insert: this will add the new value at bthe specified location in the existing list

In [19]:
items.insert(3,'Strawberry')
print(items)

['Apple', 'Red book', 'Pen', 'Strawberry', 'Cherry', 'Lemon', 'pear']

In [20]:
#extent:this will move items from one list or tuple to another 
f = ['pen','coconut']
items.extend(f)
print(items)

['Apple', 'Red book', 'Pen', 'Strawberry', 'Cherry', 'Lemon', 'pear', 'pen', 'coconut']

In [21]:
# pop: this will remove a value from a list on the specified location
items.pop(5)
print(items)

['Apple', 'Red book', 'Pen', 'Strawberry', 'Cherry', 'pear', 'pen', 'coconut']

In [22]:
# remove: this will remove specified value from a list

In [25]:
items.remove('pear')
print(items)

['Apple', 'Red book', 'Pen', 'Strawberry', 'Cherry', 'pen', 'coconut']

In [26]:
items.sort()
print(items)

['Apple', 'Cherry', 'Pen', 'Red book', 'Strawberry', 'coconut', 'pen']

In [27]:
items.reverse()
print(items)

['pen', 'coconut', 'Strawberry', 'Red book', 'Pen', 'Cherry', 'Apple']

In [28]:
items2 = items.copy()
print(items2)

['pen', 'coconut', 'Strawberry', 'Red book', 'Pen', 'Cherry', 'Apple']

In [3]:
items2.clear()
print(items2)

NameError: name 'items2' is not defined

In [31]:
# Exercise

In [39]:
item1 = ['10','20','30','40','50']
item1.append('60')
print(item1)

['10', '20', '30', '40', '50', '60']

In [40]:
item1.remove('30')
print(item1)

['10', '20', '40', '50', '60']

In [42]:
my_list = ['Apple','Banana','Cherry']
item1.extend(my_list)
print(item1)

['10', '20', '40', '50', '60', 'Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry']

In [43]:
item2 = ['4','1','3','5','2']
item2.sort()
print(item2)

['1', '2', '3', '4', '5']

In [48]:
my_list = ('a','b','c','d')
print(len(my_list))

4

In [51]:
records = {
    'Name': 'Ade',
    'Age' :25,
    'Gender':'Male'

}
print(records['Age'])

25

In [52]:
print(records.keys())

dict_keys(['Name', 'Age', 'Gender'])

In [53]:
print(records.values())

dict_values(['Ade', 25, 'Male'])

In [55]:
records['Height'] = 1.95
print(records)

{'Name': 'Ade', 'Age': 25, 'Gender': 'Male', 'Height': 1.95}

In [56]:
records.update({'Age':30})
print(records)

{'Name': 'Ade', 'Age': 30, 'Gender': 'Male', 'Height': 1.95}

In [57]:
print(50 in item1)

False

In [58]:
records.pop('Gender')
print(records)

{'Name': 'Ade', 'Age': 30, 'Height': 1.95}

In [59]:
records.popitem()
print(records)

{'Name': 'Ade', 'Age': 30}

In [61]:
##Exercise

In [62]:
givendata = {
    'Name':'Alice',
    'Age':27,
    'City':'NewYork',
}
print(givendata)

{'Name': 'Alice', 'Age': 27, 'City': 'NewYork'}

In [63]:
print(givendata.values())

dict_values(['Alice', 27, 'NewYork'])

In [64]:
givendata['Country'] = 'USA'
print(givendata)

{'Name': 'Alice', 'Age': 27, 'City': 'NewYork', 'Country': 'USA'}

In [65]:
givendata.update({'City':'Los Angeles'})

In [66]:
print(givendata)

{'Name': 'Alice', 'Age': 27, 'City': 'Los Angeles', 'Country': 'USA'}

In [70]:
print('Name' in givendata)

True

In [71]:
print(givendata.keys())

dict_keys(['Name', 'Age', 'City', 'Country'])

In [72]:
print(givendata.values())

dict_values(['Alice', 27, 'Los Angeles', 'USA'])