In [2]:
liters = 150000
price = 125
report = 'I sold {} liters of disel at the price of {} '
print(report.format(price,liters))

I sold 125 liters of disel at the price of 150000

In [3]:
print(f' I sold {price} liters of diesel at {liters} naira')

 I sold 125 liters of diesel at 150000 naira

In [11]:
print(report.format(price,liters).split())

['I', 'sold', '125', 'liters', 'of', 'disel', 'at', 'the', 'price', 'of', '150000']

In [12]:
print(report.format(price,liters).capitalize())

I sold 125 liters of disel at the price of 150000

In [16]:
print(report.format(price,liters).title())

I Sold 125 Liters Of Disel At The Price Of 150000

In [17]:
eku = 'I sold one liter of fuel at a price of 40006666 and made profit of 309'
print(eku)

I sold one liter of fuel at a price of 40006666 and made profit of 309

In [18]:
name = (23,33,45,33,56,33,44,56,43,23,2,3,4,4,44,44)
print(type(name))

<class 'tuple'>

In [23]:
print(name[7])

56

In [25]:
print(name.count(4))

2

In [34]:
print(name[4:8])

(56, 33, 44, 56)

In [39]:
print(name.count(99))

0

In [43]:
print(name.index(56))

4

In [44]:
print(56 in name)

True

In [45]:
print(99 in name)

False

In [47]:
name = ['32','34','55','67','67','78','90','89']
print(name)

['32', '34', '55', '67', '67', '78', '90', '89']

In [51]:
name.append('89')

None

In [52]:
print(name)

['32', '34', '55', '67', '67', '78', '90', '89', '70', '89']

In [65]:
name.sort()
print(name)

TypeError: '<' not supported between instances of 'list' and 'str'

In [54]:
name.insert(5 ,'Eku World Wide')
print(name)

['32', '34', '55', '67', '67', 'Eku World Wide', '70', '78', '89', '89', '90']

In [57]:
p = ['tree','pop']
name.extend(p)
print(name)

['32', '34', '55', '67', '67', 'Eku World Wide', '70', '78', '89', '89', '90', ('tree', 'pop'), ['tree', 'pop'], 'tree', 'pop']

In [59]:
name.pop(5)
print(name)

['32', '34', '55', '67', '67', '70', '78', '89', '89', '90', ('tree', 'pop'), ['tree', 'pop'], 'tree', 'pop']

In [66]:
print(len(name))
print(name)

14
['pop', 'tree', ['tree', 'pop'], ('tree', 'pop'), '90', '89', '89', '78', '70', '67', '67', '55', '34', '32']

In [61]:
name.reverse()

In [62]:
print(name)

['pop', 'tree', ['tree', 'pop'], ('tree', 'pop'), '90', '89', '89', '78', '70', '67', '67', '55', '34', '32']