### calculation involving the sum of all the 10 marks of 50 students

In [4]:
number_of_students = 50
marks = 10
print(number_of_students * marks)

500

In [31]:
name1 = int(input('Enter first number:'))
mark2 = int(input('Enter second number:'))
print(f'{name} / {mark} = {name1 / mark2}')

Enter first number: 30
Enter second number: 3

30 / 10 = 10.0

### John bought n balls at the rate of p price. Write a program to find the cost for all ball

In [34]:
num1 = int(input('Enter the number of balls bought by John:'))
num2 = float(input('Enter the cost price of balls bought by john:'))
cost_of_each_balls = (num2/num1)
print(cost_of_each_balls)

Enter the number of balls bought by John: 7
Enter the cost price of balls bought by john: 27000

3857.1428571428573

#### booleans

### Write a program to restrict the flow of fluid above 30nm viscosity and dynamic viscosity above 25.

In [50]:
problem1 = int(input('Enter the measure of viscosity of fluid:'))
problem2 = int(input('Enter the measure of viscosity:'))

Enter the measure of viscosity of fluid: 30
Enter the measure of viscosity: 30

In [68]:
age = 50
#input element
#variables
number1=45
#variable naming convention
#you cannot start with a digit
#you cannot have a space when declaring a variable 
#yiou cannot include any special character except the underscore(_)
#variable naming in python is case sensitive [age,Age,AGe,AGE]
#python prefer uppercase naming style
#DATA TYPES
#int or integer[1,100,102,136]
#float[12.5,1.0,2.0]
#string '' or ""['james','Ade is a boy','54']
#bulean [True or False]
# Excercise
#you declare four variables and assign to each variable any of the four basic data types
age=12
currency=3.4
work='Data Scientist'
proficient=True
print(work)
#STRING ESCAPE CHARACTER(/)
word = 'We\'re brother from other side of the town'
print(word)
#STRING NEWLINE(\n)
word2 = 'python is fun\npython is easy\npython is great'
print(word2)
#MULTILINE STRING
word3 = '''
python is fun
python is easy
python is great
'''
print(word3)
#STRING CONCATENATION
print('hello' + ' world' + ' Welcome to python class')
print('Ade is ',age, 'years old')

Data Scientist
We're brother from other side of the town
python is fun
python is easy
python is great

python is fun
python is easy
python is great

hello world Welcome to python class
Ade is  12 years old

In [72]:
number1 = 90
print('Ade is exactly ',number1,'years old')

Ade is exactly  90 years old

In [73]:
num1 = int(input('Enter the first number:'))
num2 = int(input('Enter the sec ond number:'))
print(num1 > num2)

Enter the first number: 30
Enter the sec ond number: 20

True

In [75]:
print(num1 == num2)

False

In [76]:
print(num1 is num2)

False

In [79]:
print(num1 is not num2)

True